<!DOCTYPE html>

<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <title>Lumi World Admin | Edit Enterprise</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/font-style.css" />
    <script src="js/angular.js"></script>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/followers.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="../js/config.js"></script> 
    <script src="../js/main.js"></script> 

</head>
<body ng-controller="editEnterpriseController">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Luminet World MIS</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="Dashboard.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                    <li><a href="newsFeeds.html"><i class="fa fa-envelope"></i> News Feeds</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="3" data-toggle="dropdown"><i class="fa fa-building-o"></i> Enterprise<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="editenterprise.php">Add Enterprise</a></li>
                            <li><a href="Enterprises.html">View Enterprises</a></li>
                            <li><a href="editEnterprise.html">Edit Enterprise</a></li>
                            <li><a href="releaseEnterprise.html">Release Enterprise</a></li>
                        </ul>
                    </li>

                    <li><a href="Consumers.html"><i class="fa fa-tablet"></i> Consumer</a></li>
                    <li><a href="#"><i class="fa fa-users"></i> Users</a></li>
                    <li><a href="systemsCheck.html"><i class="fa fa-gears"></i>System Check</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br /><br /> 

    <div class="alert alert-info" ng-show="loading">Loading data...</div>

    <div class="container">
        <div class="col-md-12" style="margin-top: 20px;">
            <form role="form" name="editEnterprise">

                <div class="form-group">
                    <label for="entName" class="col-md-2 control-label">Enterprise Name</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="name" ng-options="enterpriseName.name for enterpriseName in enterpriseNames">
                            <option value="">--Choose Enterprise--</option>
                        </select>
                    </div> 
                </div>

                <div class="form-group">
                    <label for="file" class="col-md-2 control-label">Enterprise Image</label>
                    <div class="col-md-10">
                        <canvas id="canvas" width="160px" height="160px"></canvas>
                        <input type="file" id="file-input" />
                    </div>
                    
                </div>

                
                <div class="form-group">
                    <div class="form-group">
                        <br />
                        <label for="EnterpriseSector" class="col-md-2 control-label">Sector</label>
                        <div class="col-md-10">
                            <input type="text" name="EnterpriseSector" id="EnterpriseSector" class="form-control" ng-model="enterpriseData.sectorName" required />
                            <div class="error" ng-show="editEnterprise.EnterpriseSector.$dirty && editEnterprise.EnterpriseSector.$invalid" style="color:red;">
                                <small class="error" ng-show="editEnterprise.EnterpriseSector.$error.required">
                                    Please select a sector, sector is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="EnterpriseContact" class="col-md-2 control-label">Contact Number</label>
                    <div class="col-md-10">
                        <input id="EnterpriseContact" class="form-control" type="text" name="contact" ng-model="enterpriseData.contactNumber" required 
                               ng-maxlength="11" ng-minlength="10"/>
                        <div class="error" ng-show="editEnterprise.contact.$dirty && editEnterprise.contact.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.contact.$error.required">
                                Enterprise contact number is required.
                            </small>
                            <small class="error" ng-show="editEnterprise.contact.$error.maxlength">
                                Contact number can not be more than 11 characters
                            </small>
                            <small class="error" ng-show="editEnterprise.contact.$error.minlength">
                                Contact number can not be more than 10 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">E-Mail</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" name="email" required ng-model="enterpriseData.emailAddress" />
                        <div class="error" ng-show="editEnterprise.email.$dirty && editEnterprise.email.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.email.$error.required">
                                Enterprise email is required
                            </small>
                            <small class="error" ng-show="editEnterprise.email.$error.email">
                                You have entered an invalid e-mail address.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        <input class="form-control" required name="username" ng-model="enterpriseData.username" disabled/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="street" class="col-md-2 control-label">Street</label>
                    <div class="col-md-10">
                        <input type="text" name="street" id="street" class="form-control" ng-model="editAddress.street" required />
                        <div class="error" ng-show="editEnterprise.street.$dirty && editEnterprise.street.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.street.$error.required">
                                The street name is required
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="suburb" class="col-md-2 control-label">Suburb</label>
                    <div class="col-md-10">
                        <input type="text" name="suburb" id="suburb" class="form-control" ng-model="editAddress.suburb" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-md-2 control-label">City</label>
                    <div class="col-md-10">
                        <input type="text" name="city" id="city" class="form-control" ng-model="editAddress.city" required />
                        <div class="error" ng-show="editEnterprise.city.$dirty && editEnterprise.city.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.city.$error.required">
                                The city name is required
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="postalCode" class="col-md-2 control-label">Postal Code</label>
                    <div class="col-md-10">
                        <input type="text" name="postalCode" id="postalCode" class="form-control" ng-model="editAddress.postalCode" required
                               ng-maxlength="4" ng-minlength="4" />
                        <div class="error" ng-show="editEnterprise.postalCode.$dirty && editEnterprise.postalCode.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.postalCode.$error.required">
                                The postal code is required.
                            </small>
                            <small class="error" ng-show="editEnterprise.postalCode.$error.minlength">
                                The postal code can not be less than 4 characters
                            </small>
                            <small class="error" ng-show="editEnterprise.postalCode.$error.maxlength">
                                The postal code can not be more than 4 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="province" class="col-md-2 control-label">Province</label>
                    <div class="col-md-10">
                        <input type="text" name="province" id="province" class="form-control" ng-model="editAddress.province" required />
                        <div class="error" ng-show="editEnterprise.province.$dirty && editEnterprise.province.$invalid" style="color:red;">
                            <small class="error" ng-show="editEnterprise.province.$error.required">
                                The province name is required
                            </small>
                        </div>
                    </div>
                </div> 

                <div class="form-group">
                    <label for="desc" class="col-md-2 control-label">Short Description</label>
                    <div class="col-md-10">
                        <input type="text" name="desc" id="desc" ng-model="enterpriseData.shortDescription" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="reg" class="col-md-2 control-label">Company Registration Number</label>
                    <div class="col-md-10">
                        <input type="text" name="reg" id="reg" class="form-control" ng-model="enterpriseData.companyRegistrationNumber"
                               disabled />  
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="sendData()">Update Enterprise</button>
                    </div>
                </div>   
            </form>
            <br/>
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" ng-show="showSuccess">
                            <b>Success!</b> Your data has been updated.
                        </div>
                        <div class="alert alert-danger" ng-show="showFail">
                            <b>Sorry!</b> Your data can not be updated.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>